table
{
    font-family: Helvetica, sans-serif;
}
table.report
{
    font-size: 9px;
}
table.report thead tr,
table.report tfoot tr
{
    background-color: #a3321d;
}
table.report thead tr th,
table.report tfoot tr th
{
    font-weight: bold;

    padding: 4px 5px;
    /*text-align:center;*/

    color: #000;
    border: 1px solid #999;
}
table.report tbody tr td
{
    padding: 10px 5px;

    border: 1px solid #999;
}
table.report tbody tr.even
{
    background-color: #f1eded;
}

div#producto p
{
    margin-left: 20px;
}
h5
{
    font-weight: bold;

    color: #000;
}
table#datos tr td
{
    font-size: 10px;

    padding: 2px;
}
table#datos p span
{
    display: block;

    color: rgba(243,0,4,1.00);
}

table.page_header
{
    font-size: 10px;
    font-style: italic;

    width: 100%;
    padding: 2px;

    color: #999;
    border: none;
    border-bottom: solid 1px #999;
}
table.page_footer
{
    font-size: 10px;
    font-style: italic;

    width: 100%;
    padding: 2px;

    color: #999;
    border: none;
    border-top: solid 1px #999;
}
table#firma
{
    font-size: 10px;
}
